.custom-slide-label{
    opacity: 1 !important;
}

.active {
    background-color: #6CD05C !important;
}

.categories-container{
    margin-top: 5.5rem;
}

.info-container,
.recent,
.categories-row{
    margin-top: 4rem;
}

.info{
    margin-top: 8.25rem;
}

.info-title{
    margin-bottom: 2rem;
}